* {
    box-sizing: border-box;
}

body {
    color: rgb(var(--ui-secondary-color-9));
    font-size: 14px;
    font-family: "regular";
    box-sizing: border-box;
    line-height: 22px;
}

a {
    color: inherit;
    transition: all 0.2s;
    font-family: inherit;
    text-decoration: none;
    &:hover {
        color: rgb(var(--ui-color-7));
    }
}

@font-face {
    font-family: medium;
    src: url("../fonts/NotoSansCJK-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: regular;
    src: url("../fonts/NotoSansCJK-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

// 遮罩层样式
.ui-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: auto;
    z-index: 6;
    position: fixed;
    transition: background-color 0.2s;
    background-color: var(--ui-overlay-color-1);
    overflow: hidden;
    .ui-overlay-icon {
        top: 50%;
        left: 50%;
        color: rgb(var(--ui-secondary-color-9));
        position: absolute;
        font-size: 20px;
        animation: center-rotate 2s linear infinite;
        transition: all 0.2s;
    }

    &.ui-overlay-local {
        position: absolute;
    }

    &.ui-overlay-loading {
        background-color: var(--ui-overlay-color-2);
    }

    &.fade-leave-to,
    &.fade-enter-from {
        background-color: transparent;
    }

    &.fade-enter-to,
    &.fade-leave-from {
        background-color: var(--ui-overlay-color-1);
    }
}

// 滚动条样式
.ui-scroll {
    // 初始化样式与滚动条
    // &::-webkit-scrollbar 滚动条整体部分
    // &::-webkit-scrollbar-thumb 滚动条里面的小方块，能向上向下移动（或向左向右移动）
    // &::-webkit-scrollbar-track 滚动条的轨道（里面装有Thumb）
    // &::-webkit-scrollbar-button 滚动条的轨道的两端按钮，由于通过点击微调小方块的位置。
    // &::-webkit-scrollbar-track-piece 内层轨道，滚动条中间部分
    // &::-webkit-scrollbar-corner 边角，即垂直滚动条和水平滚动条相交的地方
    // &::-webkit-resizer 两个滚动条的交汇处上用于拖动调整元素大小的小控件
    &::-webkit-scrollbar {
        width: 12px;
        padding: 0 2px;
    }

    &::-webkit-scrollbar-track {
        background: rgb(var(--ui-secondary-color-3));
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(var(--ui-secondary-color-1));
        border-radius: 9999px;
        border: 2px solid rgb(var(--ui-secondary-color-3));
        &:hover {
            background: rgb(var(--ui-secondary-color-4));
        }
    }

    &::-webkit-scrollbar-button {
        display: none;
    }
}

// 表单系列容器样式
.ui-form-container {
    background-color: rgb(var(--ui-secondary-color-1));
    border-radius: 4px;
    transition: all 0.2s;
    position: relative;
    padding: 8px 20px;
    border: 1px solid rgb(var(--ui-secondary-color-4));
    width: 100%;
    input,
    select {
        color: rgb(var(--ui-secondary-color-9));
        width: 100%;
        margin: 0;
        border: 0;
        padding: 0;
        outline: none;
        z-index: 6;
        position: relative;
        background: transparent;
        &::placeholder {
            color: rgb(var(--ui-secondary-color-4));
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    &.ui-form-icon-container {
        padding-right: 40px;
        .ui-icon {
            transition: all 0.2s;
            font-size: 20px;
            position: absolute;
            color: rgb(var(--ui-secondary-color-4));
            right: 8px;
            top: 10px;
        }
    }

    &:hover,
    &.ui-active {
        border-color: rgb(var(--ui-color-7));
        .ui-icon {
            color: rgb(var(--ui-color-7));
        }
    }
}

// 禁用状态样式
.ui-disabled {
    .ui-form-container {
        border-color: rgb(var(--ui-secondary-color-2));
        background: rgb(var(--ui-secondary-color-2));
        .ui-icon {
            color: rgb(var(--ui-secondary-color-4));
        }
    }
}
