@font-face {
  font-family: "ui-icon"; /* Project id 3276931 */
  src: url('iconfont.woff2?t=1664012642006') format('woff2'),
       url('iconfont.woff?t=1664012642006') format('woff'),
       url('iconfont.ttf?t=1664012642006') format('truetype');
}

.ui-icon {
  font-family: "ui-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e60f";
}

.icon-search:before {
  content: "\e614";
}

.icon-arrow:before {
  content: "\e60b";
}

.icon-arrow-bold:before {
  content: "\e60c";
}

.icon-error:before {
  content: "\e607";
}

.icon-loading:before {
  content: "\e60a";
}

.icon-success:before {
  content: "\e609";
}

